header
        {
             background-color: black;
        }
         @media(min-width: 481px)
        {#list, #form, #table, #top-menu
        {
         max-width: 960px;
         margin: 0 auto;
        }}
         #logo
        {
            float: left;
            max-width: 480px;
            height: 100px;
        }
         @media only screen and (min-width: 481px){
        #logo 
        {
         margin: 0px 0px 0px 280px;
        }}

        .card-header{
         color: pink;
         font-size: 40px;
         spadding-top: 130px;
         text-align: center;
        }  

        h1 
        {
         color: gray;
         font-size: 200%;
         text-align: center;
         border: 1px solid black;
         background: pink;
         max-width: 960px;
        }
        .table table-bordered table-striped
        {
         width: 600px; 
         height: 500px;         }
        .card-footer
        {
         background: black;
         height: 130px;
        }

